.stats {
  @media (min-width: 768px) {
    margin: 0 0 98px 0;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1440px) {
    display: block;
    margin: 0;
  }
}

.statsContainer {
  width: 280px;
  margin: 0 auto 22px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    width: 328px;
    margin: 0;
  }
  @media (min-width: 1440px) {
    width: 365px;
    margin: 0 0 35px 0;
    padding: 13px 0 0 0;
  }
}

.item {
  width: 160px;
  text-align: center;
}

.value {
  border: 1px solid #cdcdcd;
  padding: 20px;
  text-align: center;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0px -10px;
  color: #000000;

  @media (min-width: 768px) {
    padding: 15px 0 19px 0;
    margin: 0 0px -10px;
    width: 160px;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }
}

.title {
  max-width: 80px;
  background-color: #eaeaea;
  padding: 0 10px;
  text-align: center;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  display: inline-block;
  box-sizing: border-box;

  @media (min-width: 768px) {
    font-size: 13px;
    line-height: 14px;
    max-width: 135px;
    background-color: #ffffff;
  }
  @media (min-width: 1440px) {
    background-color: #f2f2f2;
  }
}

.text {
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding-top: 17px;
    margin: 0;
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
    width: 200px;
  }

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    width: 341px;
  }
}

.text span {
  @media (min-width: 768px) {
    display: block;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  @media (min-width: 1440px) {
    margin: 0;
  }
}

.image {
  border: 1px solid red;
  width: 280px;
  height: 256px;
}
