.example {
  background-color: #eaeaea;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 21px 0 40px 0;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    background-color: #ffffff;
    padding: 46px 0 0;
    margin: 0;
  }
  @media (min-width: 1440px) {
    padding: 0 0 67px;
    background-color: #f2f2f2;
  }
}

.title {
  margin: 7px 83px 40px 0;
  padding: 0;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  font-weight: normal;

  @media (min-width: 768px) {
    margin: 0 30px 61px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  @media (min-width: 1440px) {
    margin: 0;
    background-color: #ffffff;
    padding: 4px 0 72px;
  }
}

.titleText {
  @media (min-width: 1440px) {
    display: block;
    width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-right: 510px;
  }
}

.exampleWrapper {
  @media (min-width: 1440px) {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 74px 0 0 0;
  }
}

.exampleBlock {
  @media (min-width: 768px) {
    margin: 0 30px;
  }
  @media (min-width: 1440px) {
    margin: 0;
    padding: 0;
    width: 500px;
  }
}

.text {
  margin: 0 0 18px 20px;
  padding: 1px 0 0 0;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  @media (min-width: 768px) {
    padding: 0 11px 0 0;
    margin: 0 0 54px 0;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
}

.sliderContainer {
  background-color: #eaeaea;
  position: relative;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-bottom: 103px;

    &::before {
      content: "";
      width: 100%;
      height: 150px;
      background: #ffffff;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  @media (min-width: 1440px) {
    margin-top: -204px;
    padding: 0;
    background: none;
  }
}
